<app-header></app-header>

<div class="container">
    <div class="col-md-12">
        <Label>Nombre</Label>
      
      </div>

    <br>
<div class="container" style="max-width: 650px; min-width: 400px;">
  <div class="card">
    <h2 class="card-header text-center">formulario de Registro</h2>
    <div class="card-body">
        <div class="form-group">
          <legend>Datos de la Persona</legend>
          <label for="user">Nombre:</label>
          <input [(ngModel)]="DataPerson.nombres" type="text" class="form-control" id="user" placeholder="Usuario">
          <label for="email">Apellidos:</label>
          <input [(ngModel)]="DataPerson.apellidos" type="text" class="form-control" id="email" placeholder="nombre@ejemplo.com">
          <label for="Pass1">numeroIdentificacion:</label>
          <input type="number" [(ngModel)]="DataPerson.numeroIdentificacion" class="form-control" id="pass1" placeholder="Contraseña">
          <label for="pass2">email:</label>
          <input [(ngModel)]="DataPerson.email" type="email" class="form-control" id="pass2" placeholder="Repetir Contraseña">
          <label for="codipos">:Tipo Identificacion</label>
          <input [(ngModel)]="DataPerson.tipoIdentificacion" type="text" class="form-control" id="codipos" placeholder="Codigo Postal">
          <label for="codipos">:Fecha De Creacion</label>
          <input [(ngModel)]="DataPerson.fechaDeCreacion" type="text" class="form-control" id="codipos" placeholder="Codigo Postal" required>
        </div>
        <input type="submit" class="btn btn-success" id="boton" (click)="update()" value="Editar">
        <input type="reset" class="btn btn-danger" id="boton"  (click)="Eliminar()" value="Eliminar">
    </div>
  </div>
</div>
</div>


<app-footer></app-footer>