<app-header></app-header>
<app-header></app-header>

<div class="container">
    <br>
<div class="container" style="max-width: 650px; min-width: 400px;">
  <div class="card">
    <h2 class="card-header text-center">formulario de Registro</h2>
    <div class="card-body">
        <div class="form-group">
          <legend>Datos de la Persona</legend>
          <label for="user">Nombre:</label>
          <input [(ngModel)]="DataPerson.nombres" type="text" class="form-control" id="user" placeholder="Nombre">
          <label for="email">Apellidos:</label>
          <input [(ngModel)]="DataPerson.apellidos" type="text" class="form-control" id="email" placeholder="Apellidos">
          <label for="Pass1">numeroIdentificacion:</label>
          <input type="text" [(ngModel)]="DataPerson.numeroIdentificacion" class="form-control" id="pass1" placeholder="numeroIdentificacion">
          <label for="pass2">email:</label>
          <input [(ngModel)]="DataPerson.email" type="email" class="form-control" id="pass2" placeholder="Repetir email">
          <label for="codipos">Tipo Identificacion</label>
          <select  [(ngModel)]="DataPerson.tipoIdentificacion" class="form-control">
            <option> TI</option>
            <option> CC</option>
          </select>
          <label for="codipos">:Fecha De Creacion</label>
          <input [(ngModel)]="DataPerson.fechaDeCreacion" type="date" class="form-control" id="codipos" placeholder="Fecha De Creacion">
        </div>
        <input type="submit" class="btn btn-success" id="boton" (click)="save()" value="Editar">
        <input type="reset" class="btn btn-danger" id="boton" value="Eliminar">
    </div>
  </div>
</div>
</div>


<app-footer></app-footer>
<app-footer></app-footer>